<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t7-2021630179-a.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cc5ae182-4da7-4579-bb4c-c8e8958e948f/resourceGroups/T7-2021630179/providers/Microsoft.Web/sites/T7-2021630179-a</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://t7-2021630179-a.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIykKGCE4aUWKaWSFUjlb/QAAAAACAAAAAAAQZgAAAAEAACAAAADzzu79zYExRUpFDisd38tkegJOK40dCGCcUw7CZr03TAAAAAAOgAAAAAIAACAAAAAirBA+AAD5CPG8Hc7xEt9LhSjJ3jq+YMaaqZc8Qu7o7CAAAAD/w6LedgtZd9P3c+OaXsvtWURFlMqek4BdIuatch0Ds0AAAADTzw426n+f284Vmb5YPR0TXgf8ywxejcXhbbrKlGaQ3vLapFQ0QyuUJQbr7JV0DhyYq/YmtnQeLEsdGnzAYSz/</EncryptedPassword>
    <History>False|2024-06-24T23:43:51.3421519Z||;False|2024-06-24T17:42:53.6134628-06:00||;False|2024-06-24T17:40:25.0978154-06:00||;False|2024-06-24T17:32:24.2742423-06:00||;False|2024-06-24T17:31:34.4430685-06:00||;False|2024-06-24T17:29:57.2633717-06:00||;False|2024-06-24T17:29:19.7529676-06:00||;False|2024-06-24T17:22:57.6452922-06:00||;False|2024-06-24T17:19:26.9528568-06:00||;False|2024-06-24T17:19:19.6474457-06:00||;False|2024-06-24T17:18:50.3791069-06:00||;</History>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>